/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-regular.woff") format("woff"), url("../../fonts/roboto-v29-latin-regular.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/roboto-v29-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-500.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-500.woff") format("woff"), url("../../fonts/roboto-v29-latin-500.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto-v29-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-700.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-700.woff") format("woff"), url("../../fonts/roboto-v29-latin-700.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/roboto-v29-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-900.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-900.woff") format("woff"), url("../../fonts/roboto-v29-latin-900.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p + p {
  margin-top: 1rem;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

ol ol,
ol ul,
ol dl,
ul ol,
ul ul,
ul dl,
dl ol,
dl ul,
dl dl {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

::-moz-selection {
  background-color: #F3AF47;
}

::selection {
  background-color: #F3AF47;
}

.header__background-wrapper {
  background-color: #F5F6F7;
}

.header__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.navigation {
  display: flex;
}

.navigation__link {
  margin-left: 17px;
  z-index: 1;
  text-decoration: none;
  color: #0F2336;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  display: block;
  padding-top: 16px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 26px;
  transition: 0.2s;
}
.navigation__link--dark {
  color: #ffffff;
  background-color: #0F2336;
  border-radius: 8px;
}

.navigation__link:hover {
  opacity: 0.6;
}

.footer__background-wrapper {
  background-color: #0F2336;
  position: relative;
}

.footer__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  margin-top: 113px;
  display: flex;
  justify-content: center;
  height: 297px;
}

.footer__logo {
  margin-right: 350px;
  margin-top: 55px;
}

.footer__img {
  position: absolute;
}
.footer__img--left {
  left: 0px;
  top: -60px;
}
.footer__img--right {
  right: 0px;
  bottom: 0px;
}

.information-links__title {
  color: #00CCCC;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-bottom: 13px;
}

.information-links {
  list-style: none;
  margin-right: 80px;
  margin-top: 85px;
}

.information-links__link {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.39px;
  text-decoration: none;
  color: #FFFFFFB2;
  font-weight: normal;
}

.information-links__item {
  margin-bottom: 5px;
}

.information-links__link:hover {
  opacity: 0.6;
}

.research__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  margin-top: 180px;
  width: 1140px;
  height: 540px;
  background-color: #F4F5F6;
}

.card-slider__content-wrapper {
  margin-left: 560px;
  position: relative;
}

.card-slider__pretitle {
  font-weight: 400;
  color: #576D81;
  font-size: 18px;
}

.card-slider__title {
  max-width: 300px;
  margin-top: 22px;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #0F2336;
}

.card-slider__description {
  margin-top: 21px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #576D81;
  max-width: 410px;
}

.card-slider__img {
  position: absolute;
  left: 30px;
  top: -50px;
  bottom: -50px;
}

.card-slider--reversed .card-slider__img {
  left: auto;
  right: 0px;
  top: -50px;
  bottom: -50px;
}

.card-slider--reversed .card-slider__content-wrapper {
  margin-left: 140px;
}

.card-slider__slider {
  position: absolute;
  bottom: 100px;
}

.card-slider__slider-list {
  list-style: none;
  display: flex;
}

.card-slider__slider-item {
  z-index: 2;
  margin-right: 8px;
  transition: 0.3s;
}

.card-slider__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #E3E6E8;
  border: 0;
  transition: 1s;
}

.card-slider__button:checked {
  width: 55px;
  background-color: #00CCCC;
}

.discover__background-wrapper {
  background-color: #F5F6F7;
}

.discover__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 640px;
}

.discover__text {
  font-size: 55px;
  max-width: 557px;
  font-weight: 700;
  letter-spacing: 1.11px;
  line-height: 76px;
  color: #0F2336;
  z-index: 1;
}

.blue-text {
  display: block;
  color: #00CCCC;
  max-width: 320px;
}

.orange-text {
  color: #F3AF47;
}

.discover__link {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 208px;
  height: 60px;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
  color: #0F2336;
  background-color: #00CCCC;
  border-radius: 14px;
  text-decoration: none;
  transition: 0.2s;
}

.discover__link:hover {
  background-color: #82d1d1;
  box-shadow: 0px 3px 18px rgba(104, 201, 201, 0.55);
}

.discover__wrapper {
  display: flex;
  flex-direction: column;
}

.discover__img {
  position: absolute;
  right: 251px;
  bottom: 0px;
}

.discover__background-img {
  position: absolute;
  right: 100px;
  bottom: -40px;
}

.bonuses__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 100px;
  background-color: white;
  position: relative;
}

.bonuses__list {
  width: 100%;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.bonus {
  display: block;
  max-width: 325px;
  position: relative;
}

.bonus__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 105px;
  background: linear-gradient(160.47deg, rgba(0, 201, 201, 0.03) 15.15%, rgba(0, 201, 201, 0.15) 88.19%);
}

.bonus__wrapper {
  opacity: 0;
  -webkit-animation: bonus__wrapper-opacity 3s 4s linear forwards;
          animation: bonus__wrapper-opacity 3s 4s linear forwards;
}

.bonus__title {
  font-size: 25px;
  font-weight: 700;
  color: #0F2336;
}

.bonus__text {
  display: block;
  max-width: 290px;
  margin-top: 12px;
  font-size: 16px;
  font-style: normal;
  color: #576D81;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.bonus__img-loading {
  position: absolute;
  width: 105px;
  height: 105px;
  border-radius: 55px;
  transition: 0.5s;
  -webkit-animation: circle-size 4s 0.1s ease, circle__opacity 1s 3s linear forwards;
          animation: circle-size 4s 0.1s ease, circle__opacity 1s 3s linear forwards;
  margin-left: 103px;
  margin-top: 50px;
}

.bonus__img-wrapper {
  width: 105px;
  height: 105px;
  margin-bottom: 30px;
}

@-webkit-keyframes circle-size {
  from {
    background-color: #cfe7ed;
  }
  10% {
    background-color: #8ab7c2;
    width: 105px;
    height: 105px;
    border-radius: 55px;
  }
  20% {
    background-color: #f3af47;
  }
  40% {
    border-radius: 0;
    width: 60px;
    height: 60px;
    transform: rotate(0);
    background-color: #f3af47;
  }
  55% {
    background-color: #e5c99d;
  }
  65% {
    transform: rotate(540deg);
    border-radius: 0;
    width: 60px;
    height: 60px;
    background-color: #f3af47;
  }
  70% {
    background-color: #e5c99d;
  }
  85% {
    transform: rotate(-540deg);
    border-radius: 0;
    width: 60px;
    height: 60px;
    background-color: #f3af47;
  }
  92% {
    background-color: #8ab7c2;
  }
  to {
    background-color: #cfe7ed;
  }
}

@keyframes circle-size {
  from {
    background-color: #cfe7ed;
  }
  10% {
    background-color: #8ab7c2;
    width: 105px;
    height: 105px;
    border-radius: 55px;
  }
  20% {
    background-color: #f3af47;
  }
  40% {
    border-radius: 0;
    width: 60px;
    height: 60px;
    transform: rotate(0);
    background-color: #f3af47;
  }
  55% {
    background-color: #e5c99d;
  }
  65% {
    transform: rotate(540deg);
    border-radius: 0;
    width: 60px;
    height: 60px;
    background-color: #f3af47;
  }
  70% {
    background-color: #e5c99d;
  }
  85% {
    transform: rotate(-540deg);
    border-radius: 0;
    width: 60px;
    height: 60px;
    background-color: #f3af47;
  }
  92% {
    background-color: #8ab7c2;
  }
  to {
    background-color: #cfe7ed;
  }
}
@-webkit-keyframes circle__opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes circle__opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes bonus__wrapper-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bonus__wrapper-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.benefits__background-wrapper {
  background-color: #F4F5F6;
}

.benefits__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  display: flex;
  margin-top: 220px;
  position: relative;
}

.benefits__cards-wrapper {
  list-style: none;
  margin-top: -70px;
  margin-bottom: -30px;
}

.benefits__img {
  margin-top: -100px;
  position: absolute;
  right: 170px;
  bottom: 0;
  width: 595px;
  height: 627px;
}

.benefit {
  position: relative;
  min-height: 179px;
  border-radius: 8px;
  box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
  background-color: #ffffff;
  width: 455px;
  margin-top: 30px;
}

.benefit:nth-child(even) {
  margin-left: 40px;
}

.benefit__title {
  display: block;
  color: #0F2336;
  margin-left: 98px;
  padding-top: 38px;
}

.benefit__description {
  color: #576D81;
  max-width: 290px;
  margin-left: 98px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 24px;
}

.benefit__img-background-wrapper {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background: #F6F7F8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  color: #0F2336;
  font-size: 50px;
  line-height: 60px;
  max-width: 500px;
  margin-top: 23px;
}

.subscribe__form {
  margin-top: 20px;
}

.subscribe__input {
  margin-right: 20px;
  background: #F0F0F2;
  border: 1px solid #F0F0F2;
  box-sizing: border-box;
  border-radius: 6px;
  width: 394px;
  height: 55px;
  text-align: center;
  color: #00000059;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.subscribe__submit {
  background: #00CCCC;
  border: 1px solid #00CCCC;
  box-sizing: border-box;
  border-radius: 14px;
  width: 156px;
  height: 55px;
  color: #0F2336;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s;
}

.subscribe__submit:hover {
  background: #82d1d1;
}

.subscribe__link {
  margin-right: 24px;
  text-decoration: none;
  background: #240C39;
  color: #ffffff;
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 60px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.4s;
}

.subscribe__link:hover {
  opacity: 0.6;
}

.subscribe__links-wrapper {
  display: flex;
  margin-top: 20px;
  width: 570px;
}

.logo__img {
  transition: 0.2s;
}

.logo__img:hover {
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */