body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
}

.footer {
    background-color: gray;
    display: flex;
    justify-content: center;
}

.footer__wrapper {
    display: flex;
    max-width: 1440px;
    width: 100%;
    justify-content: space-evenly;
}

.footer__group-wrapper {
    display: flex;
    flex-direction: column;
}

.footer__date-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__date {
    color: white;
    font-size: 25px;
}

.footer__group {
    color: antiquewhite;
    font-size: 50px;
}

.footer__name {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}

