@use "mixins";
@use "variables";

body {
    @include mixins.roboto-family;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

::selection {
    background-color: variables.$orange;
}