@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin roboto-family {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

@mixin wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 170px;
    padding-right: 170px;
}
