$white: #ffffff;
$light-blue: #00CCCC;
$light-blue-active: #82d1d1;
$dark-blue: #0F2336;
$background-white: #F5F6F7;
$background-gray: #F4F5F6;
$orange: #F3AF47;
$gray: #576D81;
$svg-gray: #F6F7F8;
$white-70:#FFFFFFB2;
$input-background: #F0F0F2;
$input: #00000059;
$subscribe-button: #240C39;
$research-button: #E3E6E8;




$font-normal: 400;
$font-bold: 500;
$font-extra-bold: 700;
$font-black: 900;