@use "../utils/mixins";
@use "../utils/variables";

.benefits__background-wrapper {
    background-color: variables.$background-gray;
}

.benefits__main-wrapper {
    @include mixins.wrapper;
    display: flex;
    margin-top: 220px;
    position: relative;
    
}

.benefits__cards-wrapper {
    list-style: none;
    margin-top: -70px;
    margin-bottom: -30px;
    
}

.benefits__img {
    margin-top: -100px;
    position: absolute;
    right: 170px;
    bottom: 0;
    width: 595px;
    height: 627px;
}

