@use "../utils/variables";

.benefit {
    position: relative;
    min-height: 179px;
    border-radius: 8px;
    box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
    background-color: variables.$white;
    width: 455px;
    margin-top: 30px;
}

.benefit:nth-child(even) {
    margin-left: 40px;  
}

.benefit__title {
    display: block;
    color: variables.$dark-blue;
    margin-left: 98px;
    padding-top: 38px;
}

.benefit__description {
    color: variables.$gray;
    max-width: 290px;
    margin-left: 98px;
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
}

.benefit__img-background-wrapper {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background: variables.$svg-gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}