@use "../utils/mixins";
@use "../utils/variables";

.bonuses__main-wrapper {
    @include mixins.wrapper;
    padding-top: 100px;
    background-color: white;
    position: relative;
}


.bonuses__list {
    width: 100%;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
