@use "../utils/variables";

.bonus {
    display: block;
    max-width: 325px;
    position: relative;
}


.bonus__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 105px;
    background: linear-gradient(160.47deg, rgba(0, 201, 201, 0.03) 15.15%, rgba(0, 201, 201, 0.15) 88.19%);
}

.bonus__wrapper {
    opacity: 0;
    animation: bonus__wrapper-opacity 3s 4s  linear forwards;
}

.bonus__title {
    font-size: 25px;
    font-weight: variables.$font-extra-bold; 
    color: variables.$dark-blue;
}

.bonus__text {
    display: block;
    max-width: 290px;
    margin-top: 12px;
    font-size: 16px;
    font-style: normal;
    color: variables.$gray;
    font-weight: variables.$font-normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.bonus__img-loading {
    position: absolute;
    width: 105px;
    height: 105px;
    border-radius: 55px;
    transition: 0.5s;
    animation: circle-size 4s 0.1s  ease, circle__opacity 1s 3s linear forwards;
    margin-left: 103px;
    margin-top: 50px;
}



.bonus__img-wrapper {
    width: 105px;
    height: 105px;
    margin-bottom: 30px;
}


@keyframes circle-size {
    from {
        background-color: rgb(207, 231, 237);
    }

    10% {
        background-color: rgb(138, 183, 194);
        width: 105px;
        height: 105px;
        border-radius: 55px;
    }

    20% {
        background-color: rgb(243, 175, 71);
        
    }

    40% {
        border-radius: 0;
        width: 60px;
        height: 60px;
        transform: rotate(0);
        background-color: rgb(243, 175, 71);;
    }

    55% {
        background-color: rgb(229, 201, 157);
    }

    65% {
        transform: rotate(540deg);
        border-radius: 0;
        width: 60px;
        height: 60px;
        background-color: rgb(243, 175, 71);;
    }

    70% {
        background-color: rgb(229, 201, 157);
    }

    85% {
        transform: rotate(-540deg);
        border-radius: 0;
        width: 60px;
        height: 60px;
        background-color: rgb(243, 175, 71);;
    }

    92% {
        background-color: rgb(138, 183, 194);
    }

    to {
        background-color: rgb(207, 231, 237);
    }
}

@keyframes circle__opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes bonus__wrapper-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}