@use "../utils/variables";

.card-slider__content-wrapper {
    margin-left: 560px;
    position: relative;

}

.card-slider__pretitle {
    font-weight: variables.$font-normal;
    color: variables.$gray;
    font-size: 18px;
}

.card-slider__title {
    max-width: 300px;
    margin-top: 22px;
    font-weight: variables.$font-black;
    font-size: 40px;
    line-height: 55px;
    color: variables.$dark-blue;
    
}

.card-slider__description {
    margin-top: 21px;
    font-size: 16px;
    font-weight: variables.$font-normal;
    line-height: 24px;
    color: variables.$gray;
    max-width: 410px;
}

.card-slider__img {
    position: absolute;
    left: 30px;
    top: -50px;
    bottom: -50px;    
}

.card-slider--reversed .card-slider__img {
    left: auto;
    right: 0px;
    top: -50px;
    bottom: -50px;
}

.card-slider--reversed .card-slider__content-wrapper {
    margin-left: 140px;

}

.card-slider__slider {
    position: absolute;
    bottom: 100px;
}

.card-slider__slider-list {
    list-style: none;
    display: flex;
}

.card-slider__slider-item {
    z-index: 2;
    margin-right: 8px;
    transition: 0.3s;
}

.card-slider__button{
    appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: variables.$research-button;
    border: 0;
    transition: 1s;
}

.card-slider__button:checked {
    width: 55px;
    background-color: variables.$light-blue;
}