@use "../utils/mixins";
@use "../utils/variables";


.discover__background-wrapper {
    background-color: variables.$background-white;
    //padding-top: 50px
}

.discover__main-wrapper {
    @include mixins.wrapper;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 640px;
}

.discover__text {
    font-size: 55px;
    max-width: 557px;
    font-weight: variables.$font-extra-bold;
    letter-spacing: 1.11px;
    line-height: 76px;
    color: variables.$dark-blue;
    z-index: 1;
}


.blue-text {
    display: block;
    color: variables.$light-blue;
    max-width: 320px;
}

.orange-text {
    color: variables.$orange
}

.discover__link {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 208px;
    height: 60px;
    font-size: 22px;
    font-weight: variables.$font-extra-bold;
    box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
    color: variables.$dark-blue;
    background-color: variables.$light-blue;
    border-radius: 14px;
    text-decoration: none;
    transition: 0.2s;
}

.discover__link:hover {
    background-color: variables.$light-blue-active;
    box-shadow: 0px 3px 18px rgba(104, 201, 201, 0.55);
}

.discover__wrapper{
    display: flex;
    flex-direction: column;
}

.discover__img {
    position: absolute;
    right: 251px;
    bottom: 0px;
}

.discover__background-img {
    position: absolute;
    right: 100px;
    bottom: -40px;
    
}