@use "../utils/mixins";
@use "../utils/variables";

.footer__background-wrapper {
    background-color: variables.$dark-blue;
    position: relative;
}

.footer__main-wrapper  {
    @include mixins.wrapper;

    margin-top: 113px;
    display: flex;
    justify-content: center;
    height: 297px;
}

.footer__logo {
    margin-right: 350px;
    margin-top: 55px;
}

.footer__img {
    position: absolute;
    &--left {
        left: 0px;
        top: -60px;
    }

    &--right {
        right: 0px;
        bottom: 0px;
    }

}