@use "../utils/mixins";
@use "../utils/variables";

.header__background-wrapper {
    background-color: variables.$background-white;
}

.header__main-wrapper {
    @include mixins.wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

