@use "../utils/variables";

.navigation {
    display: flex;
}

.navigation__link {
    margin-left: 17px;
    z-index: 1;
    text-decoration: none;

    color: variables.$dark-blue;
    font-size: 14px;
    line-height: 1.2;
    font-weight: variables.$font-extra-bold;

    display: block;
    padding-top: 16px;
    padding-right: 33px;
    padding-bottom: 18px;
    padding-left: 26px;

    transition: 0.2s;

    &--dark {
        color: variables.$white;
        background-color: variables.$dark-blue;
        border-radius: 8px;
    }
}

.navigation__link:hover {
    opacity: 0.6;
}
