@use "../utils/mixins";
@use "../utils/variables";

.research__main-wrapper {
    @include mixins.wrapper;
    position: relative;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    margin-top: 180px;
    width: 1140px;
    height: 540px;
    background-color: variables.$background-gray;
}