@use "../utils/mixins";
@use "../utils/variables";


.subscribe__main-wrapper {
    @include mixins.wrapper;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subscribe__title {
    text-align: center;
    font-style: normal;
    font-weight: variables.$font-black;
    color: variables.$dark-blue;
    font-size: 50px;
    line-height: 60px;
    max-width: 500px;
    margin-top: 23px;
}

.subscribe__form {
    margin-top: 20px;
}

.subscribe__input {
    margin-right: 20px;
    background: variables.$input-background;
    border: 1px solid variables.$input-background;
    box-sizing: border-box;
    border-radius: 6px;
    width: 394px;
    height: 55px;
    text-align: center;
    color: variables.$input;
    font-size: 18px;
    line-height: 22px;
    font-weight: variables.$font-extra-bold;
}

.subscribe__submit {
    background: variables.$light-blue;
    border: 1px solid variables.$light-blue;
    box-sizing: border-box;
    border-radius: 14px;
    width: 156px;
    height: 55px;
    color: variables.$dark-blue;
    font-weight: variables.$font-extra-bold;
    font-size: 18px;
    line-height: 22px;
    transition: 0.2s;
}

.subscribe__submit:hover {
    background: variables.$light-blue-active;
}

.subscribe__link {
    margin-right: 24px;
    text-decoration: none;
    background: variables.$subscribe-button;
    color: variables.$white;
    border-radius: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 60px;
    font-size: 22px;
    text-decoration: none;
    transition: 0.4s;
}

.subscribe__link:hover {
    opacity: 0.6;
}

.subscribe__links-wrapper {
    display: flex;
    margin-top: 20px;
    width: 570px;
}