@use "../scss/utils/variables";



.card-slider__title {
    max-width: 300px;
    margin-top: 22px;
    font-weight: variables.$font-black;
    font-size: 40px;
    line-height: 55px;
    color: variables.$dark-blue;
    
}


.card-slider__slider {
    position: absolute;
    bottom: 100px;
}

.card-slider__slider-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.card-slider__slider-list-time {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.card-slider__slider-item {
    z-index: 2;
    margin-right: 8px;
    transition: 0.3s;
}

.card-slider__button{
    appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: variables.$research-button;
    border: 0;
    transition: 1s;
}

.card-slider__button:checked {
    width: 55px;
    background-color: variables.$light-blue;
}

.card-slider__time-to-call-button{
    appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: variables.$research-button;
    border: 0;
    transition: 1s;
}

.card-slider__time-to-call-button:checked {
    width: 55px;
    background-color: variables.$light-blue;
}