@use "../scss/utils/variables";

.information-links__title {
    color: variables.$light-blue;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-bottom: 13px;
}


.information-links {
    list-style: none;
    margin-right: 80px;
    margin-top: 85px;
}

.information-links__link{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.39px;
    text-decoration: none;
    color: variables.$white-70;
    font-weight: normal;
}

.information-links__item {
    margin-bottom: 5px;
}

.information-links__link:hover {
    opacity: 0.6;
}
