@use "../scss/utils/mixins";
@use "../scss/utils/variables";

.psevdo__main-wrapper {
    @include mixins.wrapper;
    margin-top: 200px;
}

.psevdo__list-item::first-letter {
    font-size: 50px;
    margin-top: 50px;
}

.psevdo__item-description::before {
    content: "🛈";
}

.psevdo__checkboxes-lists-wrapper {
    margin-top: 60px;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-around;

}

.psevdo__classes-item:nth-child(odd) {
    color: variables.$orange;
}

.psevdo__elements-item:nth-child(even) {
    color: variables.$orange;
}





.psevdo__checkbox:checked +.psevdo__checkbox-title{
    text-decoration: line-through;
    color: variables.$light-blue
}





ul {
    list-style: none;
}