@use "../scss/utils/mixins";
@use "../scss/utils/variables";


.subscribe__main-wrapper {
    @include mixins.wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subscribe__list {
    list-style: none;
    margin: 0;
}


.subscribe__title {
    text-align: center;
    font-style: normal;
    font-weight: variables.$font-black;
    color: variables.$dark-blue;
    font-size: 50px;
    line-height: 60px;
    max-width: 500px;

}


.subscribe__form {
    margin-top: 20px;
    margin-bottom: 50px;
}



.subscribe__input-wrapper {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    
}

.subscribe__item--extended {
    display: flex;
    flex-direction: column;
}

.subscribe__input {
    margin-right: 20px;
    background: variables.$input-background;
    border: 1px solid variables.$input-background;
    box-sizing: border-box;
    border-radius: 6px;
    width: 394px;
    height: 55px;
    text-align: center;
    color: variables.$input;
    font-size: 18px;
    line-height: 22px;
    font-weight: variables.$font-extra-bold;
}

.subscribe__input--extended {
    width: 1440px;
    height: 200px;
    padding-left: 10px;
}

.subscribe__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.subscribe__submit {
    background: variables.$light-blue;
    border: 1px solid variables.$light-blue;
    box-sizing: border-box;
    border-radius: 14px;
    width: 156px;
    height: 55px;
    color: variables.$dark-blue;
    font-weight: variables.$font-extra-bold;
    font-size: 18px;
    line-height: 22px;
    transition: 0.2s;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.subscribe__submit:hover {
    background: variables.$light-blue-active;
}

.subscribe__button-image {
    margin-left: 10px;
}


.subscribe__reset {
    background: variables.$background-gray;
    border: 1px solid variables.$background-gray;
    box-sizing: border-box;
    border-radius: 14px;
    width: 156px;
    height: 55px;
    color: variables.$dark-blue;
    font-weight: variables.$font-extra-bold;
    font-size: 18px;
    line-height: 22px;
    transition: 0.2s;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.subscribe__reset:disabled {
    opacity: 0.5;

}


.subscribe__reset:hover {
    background: variables.$light-blue-active;
}


.subscribe__data-wrapper {
    margin-top: 60px;
}


.subscribe__data-wrapper-title {
    font-weight: variables.$font-extra-bold;
    font-size: 30px;
    font-style: normal;
    font-weight: variables.$font-black;
    color: variables.$dark-blue;
    display: flex;
    justify-content: center;
}

.subscribe__fieldset {
    border: 0;
}