@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-regular.woff") format("woff"), url("../../fonts/roboto-v29-latin-regular.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/roboto-v29-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-500.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-500.woff") format("woff"), url("../../fonts/roboto-v29-latin-500.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto-v29-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-700.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-700.woff") format("woff"), url("../../fonts/roboto-v29-latin-700.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/roboto-v29-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-900.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-900.woff") format("woff"), url("../../fonts/roboto-v29-latin-900.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p + p {
  margin-top: 1rem;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

ol ol,
ol ul,
ol dl,
ul ol,
ul ul,
ul dl,
dl ol,
dl ul,
dl dl {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

::-moz-selection {
  background-color: #F3AF47;
}

::selection {
  background-color: #F3AF47;
}

.navigation {
  display: flex;
}

.navigation__link {
  margin-left: 17px;
  z-index: 1;
  text-decoration: none;
  color: #0F2336;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  display: block;
  padding-top: 16px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 26px;
  transition: 0.2s;
}
.navigation__link--dark {
  color: #ffffff;
  background-color: #0F2336;
  border-radius: 8px;
}

.navigation__link:hover {
  opacity: 0.6;
}

.information-links__title {
  color: #00CCCC;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-bottom: 13px;
}

.information-links {
  list-style: none;
  margin-right: 80px;
  margin-top: 85px;
}

.information-links__link {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.39px;
  text-decoration: none;
  color: #FFFFFFB2;
  font-weight: normal;
}

.information-links__item {
  margin-bottom: 5px;
}

.information-links__link:hover {
  opacity: 0.6;
}

.card-slider__title {
  max-width: 300px;
  margin-top: 22px;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #0F2336;
}

.card-slider__slider {
  position: absolute;
  bottom: 100px;
}

.card-slider__slider-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.card-slider__slider-list-time {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.card-slider__slider-item {
  z-index: 2;
  margin-right: 8px;
  transition: 0.3s;
}

.card-slider__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #E3E6E8;
  border: 0;
  transition: 1s;
}

.card-slider__button:checked {
  width: 55px;
  background-color: #00CCCC;
}

.card-slider__time-to-call-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #E3E6E8;
  border: 0;
  transition: 1s;
}

.card-slider__time-to-call-button:checked {
  width: 55px;
  background-color: #00CCCC;
}

.subscribe__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__list {
  list-style: none;
  margin: 0;
}

.subscribe__title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  color: #0F2336;
  font-size: 50px;
  line-height: 60px;
  max-width: 500px;
}

.subscribe__form {
  margin-top: 20px;
  margin-bottom: 50px;
}

.subscribe__input-wrapper {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.subscribe__item--extended {
  display: flex;
  flex-direction: column;
}

.subscribe__input {
  margin-right: 20px;
  background: #F0F0F2;
  border: 1px solid #F0F0F2;
  box-sizing: border-box;
  border-radius: 6px;
  width: 394px;
  height: 55px;
  text-align: center;
  color: #00000059;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.subscribe__input--extended {
  width: 1440px;
  height: 200px;
  padding-left: 10px;
}

.subscribe__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
}

.subscribe__submit {
  background: #00CCCC;
  border: 1px solid #00CCCC;
  box-sizing: border-box;
  border-radius: 14px;
  width: 156px;
  height: 55px;
  color: #0F2336;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__submit:hover {
  background: #82d1d1;
}

.subscribe__button-image {
  margin-left: 10px;
}

.subscribe__reset {
  background: #F4F5F6;
  border: 1px solid #F4F5F6;
  box-sizing: border-box;
  border-radius: 14px;
  width: 156px;
  height: 55px;
  color: #0F2336;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__reset:disabled {
  opacity: 0.5;
}

.subscribe__reset:hover {
  background: #82d1d1;
}

.subscribe__data-wrapper {
  margin-top: 60px;
}

.subscribe__data-wrapper-title {
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  color: #0F2336;
  display: flex;
  justify-content: center;
}

.subscribe__fieldset {
  border: 0;
}

.psevdo__main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
  margin-top: 200px;
}

.psevdo__list-item::first-letter {
  font-size: 50px;
  margin-top: 50px;
}

.psevdo__item-description::before {
  content: "🛈";
}

.psevdo__checkboxes-lists-wrapper {
  margin-top: 60px;
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-around;
}

.psevdo__classes-item:nth-child(odd) {
  color: #F3AF47;
}

.psevdo__elements-item:nth-child(even) {
  color: #F3AF47;
}

.psevdo__checkbox:checked + .psevdo__checkbox-title {
  text-decoration: line-through;
  color: #00CCCC;
}

ul {
  list-style: none;
}/*# sourceMappingURL=style.css.map */